:root {
  --background: #fff7f1;
  --foreground: #45372b;
  --accent: #f24e31;
  --font-size: 1rem;
  --line-height: 1.54em;
  --radius: 0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
